name: DAST - Canonicalization Example

on:
  workflow_dispatch:

jobs:
  zap_scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        working-directory: ./canonicalization-example
        run: npm install

      - name: Start application
        working-directory: ./canonicalization-example
        run: |
          npm start &
          sleep 10

      - name: Run OWASP ZAP Full Scan
        uses: zaproxy/action-full-scan@v0.7.0
        with:
          target: "http://localhost:3000"
